node_modules
packages/master-ui-2.0/node_modules
packages/validations-1.0/node_modules
package-lock.json
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
packages/master-ui-2.0/.pnp
packages/master-ui-2.0/.pnp.js
packages/master-ui-2.0/.sass-cache/*
packages/master-ui-2.0/src/assets/index.css
packages/master-ui-2.0/src/assets/index.css.map
packages/master-ui-2.0/src/Theme/index.css
packages/master-ui-2.0/src/Theme/index.css.map
# testing
packages/master-ui-2.0/coverage

# production
packages/master-ui-2.0/build

# misc
packages/master-ui-2.0/.DS_Store
packages/master-ui-2.0/.env.local
packages/master-ui-2.0/.env.development.local
packages/master-ui-2.0/.env.test.local
packages/master-ui-2.0/.env.production.local

packages/master-ui-2.0/npm-debug.log*
packages/master-ui-2.0/yarn-debug.log*
packages/master-ui-2.0/yarn-error.log*
packages/master-ui-2.0/package-lock.json
packages/master-ui-2.0/yarn.lock
packages/master-ui-2.0/.project
packages/master-ui-2.0/storybook-static/
